body{
	background-color: black;
}

h1{
	color: white;
	font-size: 40px;
	padding: 20px;
	font-family: 'Francois One', sans-serif;
}

p{
	color: white;
	font-size: 30px;
	padding: 30px;
	font-family: 'Gidugu', sans-serif;
}


.container{
	display: flex;
}

.section1{
	display: flex;
	width: 33%;
}

.section2{
	display: flex;
	width: 66%;
}

.box1{
	width: 100%;
	height: 300px;
	background-color: black;
}