body{
	background-color: black;
}

h1{
	color: white;
	font-family: 'Francois One', sans-serif;
	font-size: 40px;
	padding: 20px;
}

p{
	color: white;
	font-family: 'Gidugu', sans-serif;
	font-size: 30px;
	padding: 30px;
}

.container{
	display: flex;
}

.section1{
	display: flex;
	width: 84%;
}

.section2{
	display: flex;
	width: 16%;
}

.container2{
	display: flex;
}

.section3{
	display: flex;
	width: 16%;
}

.section4{
	display: flex;
	width: 84%;
}

.box1{
	width: 100%;
	height: 300px;
	background-color: black;
}